@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --font-size-normal: 16px;

    /* Colors */
    --color-background: #0f172a;
    --color-foreground: #94a3b8;

    --color-primary: #515052;
    --color-white: #ffffff;
    --color-secondary: #0469ff;
    --color-skyblue: #1dd1dd;

    --color-border: #ce8964;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: var(--font-size-normal);
    background-color: var(--color-background);
    color: var(--color-foreground);

}

li {
    text-decoration: none;
    list-style: none;
}

a {
    text-decoration: none;
}

p:not(:last-child) {
    margin-bottom: 20px;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    margin-top: 100px;
}

.sidebar {
    position: fixed;
    left: 0;
    width: 50vw;
    height: 100%;
    padding: 0 50px;
    display: flex;
    flex-direction: column;
}

.main__container {
    margin-left: 50vw;
}

.section__container {
    padding: 100px 50px 0 0;
    margin: 100px 0;
    line-height: 1.5;
}

.section__container:first-of-type {
    margin-top: -100px;
}

.profile__name {
    font-size: 3rem;
    font-weight: 800;
    color: var(--color-white);
}

.sub__heading {
    font-size: 1.6rem;
    font-weight: 600;
}

.profile__summary {
    margin: 10px 0;
    font-size: 1.1rem;
    line-height: 1.4;
}

.profile__name:hover,
.sub__heading:hover {
    background: linear-gradient(to right, #eb568e, #144ee3);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}


.nav__list__item {
    /* font-size: 0.8rem; */
    font-weight: 600;
    text-transform: uppercase;
    margin: 20px 0;
}

.nav__list__item a {
    position: relative;
    color: var(--color-foreground);
    padding-left: 45px;
    transition: all 0.3s ease;
}

.nav__list__item a::before {
    content: "";
    display: inline-flex;
    height: 2px;
    width: 40px;
    background-color: var(--color-foreground);
    transition: width 0.3s ease;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.nav__list__item a:hover::before {
    background-color: var(--color-white);
    width: 65px;
}

.nav__list__item a:hover {
    color: var(--color-white);
    padding-left: 70px;
}

.socials {
    margin-top: 50px;
    max-width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.socials span a {
    color: var(--color-white);
}

.socials span a:hover {
    color: var(--color-secondary);
}


/* SECTION STYLES */
.section__heading {
    text-transform: uppercase;
    font-size: 1rem;
    color: var(--color-white);
    text-align: center;
    margin-bottom: 20px;
}


/* TIMELINE */
@keyframes fadeInGlow {
    0% {
        opacity: 0;
        box-shadow: 0 0 0px rgba(47, 68, 255, 0.3);
    }

    50% {
        opacity: 1;
        box-shadow: 0 0 15px rgba(47, 255, 255, 0.7);
    }
}

.timeline__container ul {
    padding: 0 20px;
    max-width: 600px;
    margin: 0 auto;
    /* position: relative; */
}

.timeline {
    position: relative;
    padding: 20px;

}

.timeline:not(:last-child)::before {
    content: '';
    position: absolute;
    left: 4px;
    top: 30px;
    height: calc(100% + 1px);
    border-left: 2px solid #1dd1dd;
}

.timeline__date {
    position: relative;
}

.timeline__date::before {
    z-index: 2;
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #1dd1dd;
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translateY(-50%);
    transition: all 0.5s ease;
}

.timeline__content {
    position: relative;
    padding: 15px;
    background: rgba(255, 255, 255, 0);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    backdrop-filter: blur(10px) saturate(190%);
    -webkit-backdrop-filter: blur(10px) saturate(200%);
}

.timeline__content::before {
    z-index: -1;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0);
    height: 100%;
    width: 100%;
    border-radius: 15px;
}

.timeline:hover .timeline__content::before {
    animation: fadeInGlow 2s ease infinite;
}

.timeline:hover .timeline__date::before {
    background-color: greenyellow;
    box-shadow: 0px 0px 12px 2px greenyellow;
    transition: all 0.3s ease-in-out;
}

.timeline__date {
    padding: 2px 4px;
    font-size: 0.8rem;
}

.timeline:hover .timeline__date {
    color: var(--color-white);
}

.content__heading {
    font-weight: 500;
}

.content__text {
    padding: 5px;
}

/* PROJECT CARD */
.project__card {
    position: relative;
    padding: 20px;
    border: 1px solid transparent;
    cursor: default;
}

.project__card:not(:last-child) {
    margin-bottom: 20px;
}

.project__card:hover {
    background: rgba(255, 255, 255, 0);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    backdrop-filter: blur(10px) saturate(190%);
    -webkit-backdrop-filter: blur(10px) saturate(200%);
}

.project__card:hover .project__title {
    color: var(--color-white);
}

.project__card::before {
    z-index: -1;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0);
    height: 100%;
    width: 100%;
    border-radius: 15px;
}

.project__card:hover::before {
    animation: fadeInGlow 2s ease-in-out infinite;
}

.project__details i {
    margin-right: 5px;
}

.project__details .stack {
    margin: 15px 0 10px;
}

.project__details .stack span {
    padding: 2px 4px;
    border-radius: 5px;
    background: var(--color-white);
    font-size: 0.7rem;
    color: var(--color-background);
}

.project__details .links {
    font-size: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: baseline;
}

.project__details .links a {
    font-weight: 300;
    color: var(--color-white);
}

.project__details .links a:hover {
    color: var(--color-secondary);
}

/* CONTACT FORM */
.input__group {
    width: 100%;
    display: flex;
    margin-top: 10px;
}

.input__group label {
    width: 100px;
    font-size: 0.9rem;
    font-weight: 600;
}

.input__group input,
.input__group textarea,
.input__group select {
    font-size: 1rem;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background: var(--color-white);
}

.input__group button {
    margin-top: 20px;
    margin-left: auto;
    padding: 10px 20px;
    border-radius: 10px;
    background: var(--color-secondary);
    color: var(--color-white);
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.3s ease;
    cursor: pointer;
    border: 1px solid var(--color-foreground);
}

.input__group button:hover {
    background: var(--color-skyblue);
}

/* CALCULATOR */
.calculator__container {
    width: 400px;
    height: 550px;
    margin: 50px auto;
    border: 2px solid var(--color-border);
    border-radius: 15px;
    padding: 15px 10px;
    box-shadow: 4px 4px var(--color-primary);
}

.calculator__details {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.calculator__details h4 {
    font-size: 26px;
}

.display__container {
    width: 100%;
    height: 70px;
    background-color: var(--color-primary);
    padding: 2px;
}

.display {
    width: 100%;
    height: 100%;
    background-color: #e0fbfc;
}

.keys__row {
    margin-top: 20px;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.key {
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 32px;
    border-radius: 10px;
    cursor: pointer;
}

.key:hover {
    box-shadow: 1px 2px 5px var(--color-primary);
}

.operand {
    background: var(--color-primary);
    border: 2px solid var(--color-foreground);
    color: var(--color-white);
}

.operator {
    background: var(--color-secondary);
    border: 2px solid var(--color-foreground);
    color: var(--color-white);
}

/* MEDIA QUERIES  */
@media screen and (min-width: 1441px) {
    body {
        font-size: 20px;
    }

    .sidebar {
        width: 720px;
        height: 100%;
        padding: 20px;
        left: calc(50vw - 720px);
    }

    .main__container {
        margin-left: calc(50vw);
        width: 720px;
    }
}

@media screen and (min-width: 1281px) {
    body {
        font-size: 20px;
    }


}

@media (max-width: 768px) {
    .wrapper {
        padding-top: 0px;
        margin-top: 40px;
    }

    .sidebar {
        margin: 40px auto;
        position: relative;
        width: 100%;
        height: auto;
        /* max-height: 100vh; */
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .main__container {
        margin: 0;
        width: 100%;
    }

    .section__container {
        padding: 0 20px;
    }

    .section__container:first-of-type {
        margin-top: 0;
    }

    .section__container p {
        font-size: 0.9rem;
    }

    .timeline__container ul {
        padding: 0;
    }

    .timeline {
        padding-right: 0;
    }

    .project__card {
        padding: 10px;
    }

    .input__group label {
        display: none;
    }

    .input__group button {
        margin-right: auto;
    }
}

@media (max-width: 420px) {
    .wrapper {
        margin-top: 0;
    }

    .sidebar {
        margin: 20px auto;
    }

    .profile__name {
        font-size: 2.4rem;
    }

    .socials {
        margin-top: 25px auto;
    }
}